body{
    background-image: url(mountain.jpg);
    height:100%;
    width:100%;
    background-size: cover;
    padding:0px;
    margin:0px;
}
#survey{
    font-family: 'Poppins', sans-serif;
    color:white;
    display:flex;
    border-radius:4px;
    justify-content:center;
    
    margin:auto;
    width:35%;
    background-color:black;
    opacity:0.8;
    padding-bottom:30px;
    padding-top:30px;
    padding-left:0px;
    margin-bottom:0px;
    height: 100%;
    
}
#cim{
    text-align:center;
    font-family: 'Poppins', sans-serif;
    color:white;
}
.label{
    width:100%;
    border-radius:4px;
}
.last{
    margin-bottom:20px;
}
#bbbutom{
    padding-left:5px;
    transform:scale(1.04);
    width:100%;
    background-color:#799351;
    justify-content: center;
    height:30px;
}


#textbox{
    width:100%;
}
#bbbutom:hover{
    cursor: pointer;
    
}
.dropdown:hover{
    cursor: pointer;
}
#faceb{
    
    text-align:center;
    font-family: 'Poppins', sans-serif;
    color:white;
    
}
#face{
    
    height: 30px;
    width:30px;
}